/* styles.css */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links ul li {
    padding: 0 15px;
}

.navbar-links ul li a {
    transition: all 0.3s ease 0s;
}

.navbar-links ul li a:hover {
    color: #ff6347;
}

.content {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links.active {
        display: block;
    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links ul li {
        padding: 15px 0;
    }
}
